{% extends 'admin.html.twig' %}
{% block body %}
<div class="col-lg-12" xmlns="http://www.w3.org/1999/html" align="center">
    <h4>Welcome to the Administration Area.</br>
       </h4>
    <p>Please make a selection from the links on your left.</p>

</div>
{% endblock %}