{% extends 'base.html.twig' %}
<section id="content-page">
    <div class="container">
        <div class="row">
{% block body %}
        <div class="col-lg-8">
sdf
        </div>
        <div class="col-lg-4">
            sdf
        </div>
{% endblock %}
        </div>
    </div>
</section>