@import url("../css/reset.css");
/* line 10, ../sass/style.scss */
body {
  font-size: 14px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 2.429em;
}

/* line 17, ../sass/style.scss */
a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/* line 22, ../sass/style.scss */
h1 {
  font-size: 2.286em;
}

/* line 24, ../sass/style.scss */
#header_wrap {
  width: 100%;
  position: fixed;
  z-index: 50;
  padding: 0 0 14px 0;
  background: url("../img/header_bg.png") repeat-x bottom;
}

/* line 32, ../sass/style.scss */
.header {
  background: #111;
  padding: 14px 0 12px 0;
  transition: all 0.4s ease;
}

/* line 38, ../sass/style.scss */
.sticky {
  padding: 10px 0 0px 0;
  transition: all 0.4s ease;
}

/* line 45, ../sass/style.scss */
.logo {
  position: absolute;
  font-size: 2em;
  padding: 5px 0 0 0;
}
/* line 49, ../sass/style.scss */
.logo i {
  font-family: 'Great Vibes', cursive;
}
/* line 50, ../sass/style.scss */
.logo a {
  color: #f1f1f1;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}
/* line 55, ../sass/style.scss */
.logo span {
  color: green;
}

/* line 60, ../sass/style.scss */
.caption {
  position: absolute !important;
  top: 40%;
  left: 20%;
  font-family: "Playfair Display", serif;
  text-align: left;
  z-index: 10;
  color: #FFF !important;
}
/* line 69, ../sass/style.scss */
.caption p {
  font-size: 3.0vh;
  line-height: 1.514em;
  margin-bottom: 20px;
}
/* line 75, ../sass/style.scss */
.caption h3 {
  font-size: 5.0vh;
  padding-bottom: 20px;
  line-height: 1em;
}
/* line 81, ../sass/style.scss */
.caption span a {
  color: #f1f1f1;
  padding: 5px 10px;
  background: #111;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 90, ../sass/style.scss */
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 96, ../sass/style.scss */
label {
  display: none;
  cursor: pointer;
  user-select: none;
}

/* background for li / select */
/* custom-dropdown */
/* line 105, ../sass/style.scss */
nav[role="custom-dropdown"] {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
/* line 111, ../sass/style.scss */
nav[role="custom-dropdown"] .tp_cnct .fa {
  font-size: 1.368em;
}
/* line 113, ../sass/style.scss */
nav[role="custom-dropdown"] .active a {
  color: #5d9d43;
}
/* line 115, ../sass/style.scss */
nav[role="custom-dropdown"] a,
nav[role="custom-dropdown"] label {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1em;
}
/* line 122, ../sass/style.scss */
nav[role="custom-dropdown"] ul {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}
/* line 128, ../sass/style.scss */
nav[role="custom-dropdown"] ul > li {
  float: left;
  padding: .55em .85em;
  width: auto;
  text-align: center;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
/* line 137, ../sass/style.scss */
nav[role="custom-dropdown"] ul > li:hover {
  color: #5d9d43;
}
/* line 141, ../sass/style.scss */
nav[role="custom-dropdown"] ul > li:hover > a {
  color: #5d9d43;
}

/* small screens */
@media screen and (max-width: 44em) {
  /* line 152, ../sass/style.scss */
  nav[role="custom-dropdown"] ul {
    display: none;
    height: 100%;
  }
  /* line 157, ../sass/style.scss */
  nav[role="custom-dropdown"] label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 2.25em;
    padding: .45em;
    font-size: 1.1em;
    margin: 0;
  }
  /* line 167, ../sass/style.scss */
  nav[role="custom-dropdown"] label:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
  /* line 175, ../sass/style.scss */
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ label:after {
    color: #222;
  }
  /* line 179, ../sass/style.scss */
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  /* line 182, ../sass/style.scss */
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
  }
  /* line 187, ../sass/style.scss */
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 1.4em sans-serif;
  }
}
/* line 198, ../sass/style.scss */
.tp_cnct {
  position: relative;
  top: 0;
  z-index: 1;
}

/* line 205, ../sass/style.scss */
.two {
  padding: 30px 20px;
  background-color: #111;
  display: none;
  position: absolute;
  right: 10px;
  color: #f1f1f1;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  line-height: 1.857em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 220, ../sass/style.scss */
#sectionA {
  background: url("../img/section-bg.png") repeat-x #f8f8f8;
  padding: 80px 0;
}
/* line 225, ../sass/style.scss */
#sectionA h1 {
  margin: 0 0 20px 0;
}
/* line 229, ../sass/style.scss */
#sectionA span {
  font-weight: bold;
}

/* line 235, ../sass/style.scss */
#sectionB h1 {
  padding-bottom: 30px;
}
/* line 237, ../sass/style.scss */
#sectionB h1 > span {
  font-size: 0.7em;
}
/* line 240, ../sass/style.scss */
#sectionB .visit-us {
  padding: 80px 0 100px 0;
  background: url("../img/service-bg.jpg") no-repeat #fff;
}
@media screen and (max-width: 480px) {
  /* line 246, ../sass/style.scss */
  #sectionB .visit-us {
    padding: 80px 0 100px 0;
    background: url("../img/service-bg.jpg") no-repeat #fff;
    background-size: cover;
  }
}

/* line 255, ../sass/style.scss */
a.read-more {
  color: #f1f1f1;
  padding: 5px 10px;
  background: #111;
  cursor: pointer;
}

/* line 262, ../sass/style.scss */
#contact-box {
  position: absolute;
  top: -120px;
  right: 0;
  background: #438831;
  color: #f1f1f1;
  padding: 80px 40px;
}
/* line 270, ../sass/style.scss */
#contact-box h1 {
  font-size: 2.571em;
}
/* line 274, ../sass/style.scss */
#contact-box p {
  font-size: 1.286em;
}

/* line 280, ../sass/style.scss */
#sectionC {
  padding: 60px 0;
  background: #f8f8f8;
}

/* line 285, ../sass/style.scss */
#testimonials {
  background: url("../img/quote.png") no-repeat left top;
  padding-top: 60px;
}
/* line 289, ../sass/style.scss */
#testimonials p {
  font-size: 1.714em;
  font-style: italic;
}

/* line 299, ../sass/style.scss */
#content-page {
  padding: 30px 0 0 0;
  background: #F5F5F5;
}
/* line 303, ../sass/style.scss */
#content-page strong {
  font-weight: bold;
}
/* line 305, ../sass/style.scss */
#content-page .content {
  position: relative;
  top: -80px;
  background: #FFF;
  height: 100%;
  overflow: hidden;
  padding: 30px 20px;
}
/* line 313, ../sass/style.scss */
#content-page .content .col-lg-4 {
  background: #f8f8f8;
}
/* line 317, ../sass/style.scss */
#content-page .content .testimonials {
  background: url("../img/quote.png") no-repeat left top #f5f5f5;
  padding: 60px 20px 40px 20px;
}
/* line 321, ../sass/style.scss */
#content-page .content .testimonials p {
  font-size: 1.429em;
  font-style: italic;
}
/* line 329, ../sass/style.scss */
#content-page .content .contact {
  background: #438831;
  color: #FFF;
  padding: 30px;
}
/* line 335, ../sass/style.scss */
#content-page .content table {
  font-family: "Open Sans", sans-serif;
}
/* line 337, ../sass/style.scss */
#content-page .content table tr:nth-child(even) {
  background-color: #f8f8f8;
}

/* line 348, ../sass/style.scss */
.parallax .about {
  /* The image used */
  background-image: url("../img/slider/2.jpg");
}
/* line 353, ../sass/style.scss */
.parallax .effect {
  /* Set a specific height */
  min-height: 300px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 368, ../sass/style.scss */
footer {
  background: #111;
  padding: 60px 0;
  color: #f1f1f1;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
