@import url("../css/reset.css");
/* line 10, ../sass/style.scss */
body {
  font-size: 14px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 2.429em;
}

/* line 17, ../sass/style.scss */
a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/* line 22, ../sass/style.scss */
h1 {
  font-size: 2.286em;
}

/* line 24, ../sass/style.scss */
#header_wrap {
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 0 0 14px 0;
  background: url("../img/header_bg.png") repeat-x bottom;
}

/* line 32, ../sass/style.scss */
.header {
  background: #111;
  padding: 14px 0 12px 0;
  transition: all 0.4s ease;
}

/* line 38, ../sass/style.scss */
.sticky {
  padding: 10px 0 0px 0;
  transition: all 0.4s ease;
}

/* line 45, ../sass/style.scss */
.logo {
  position: absolute;
  font-size: 2em;
  padding: 5px 0 0 0;
}
/* line 49, ../sass/style.scss */
.logo i {
  font-family: 'Great Vibes', cursive;
}
/* line 50, ../sass/style.scss */
.logo a {
  color: #f1f1f1;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}
/* line 55, ../sass/style.scss */
.logo span {
  color: green;
}

/* line 62, ../sass/style.scss */
.carousel.fade {
  opacity: 1;
}
/* line 66, ../sass/style.scss */
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1;
}
/* line 81, ../sass/style.scss */
.carousel.fade .item:first-child {
  top: auto;
  position: relative;
}
/* line 87, ../sass/style.scss */
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index: 2;
}

/* line 99, ../sass/style.scss */
.carousel-caption {
  position: absolute !important;
  top: 40%;
  left: 20%;
  font-family: "Playfair Display", serif;
  text-align: left;
}
/* line 106, ../sass/style.scss */
.carousel-caption p {
  font-size: 3.0vh;
  line-height: 1.514em;
  margin-bottom: 20px;
}
/* line 112, ../sass/style.scss */
.carousel-caption h3 {
  font-size: 5.0vh;
  padding-bottom: 20px;
  line-height: 1em;
}
/* line 118, ../sass/style.scss */
.carousel-caption span a {
  color: #f1f1f1;
  padding: 5px 10px;
  background: #111;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 127, ../sass/style.scss */
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 133, ../sass/style.scss */
label {
  display: none;
  cursor: pointer;
  user-select: none;
}

/* background for li / select */
/* custom-dropdown */
/* line 142, ../sass/style.scss */
nav[role="custom-dropdown"] {
  position: relative;
  width: 100%;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
/* line 148, ../sass/style.scss */
nav[role="custom-dropdown"] .tp_cnct .fa {
  font-size: 1.368em;
}
/* line 150, ../sass/style.scss */
nav[role="custom-dropdown"] .active a {
  color: #5d9d43;
}
/* line 152, ../sass/style.scss */
nav[role="custom-dropdown"] a,
nav[role="custom-dropdown"] label {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1em;
}
/* line 159, ../sass/style.scss */
nav[role="custom-dropdown"] ul {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}
/* line 165, ../sass/style.scss */
nav[role="custom-dropdown"] ul > li {
  float: left;
  padding: .55em .85em;
  width: auto;
  text-align: center;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
/* line 174, ../sass/style.scss */
nav[role="custom-dropdown"] ul > li:hover {
  color: #5d9d43;
}
/* line 178, ../sass/style.scss */
nav[role="custom-dropdown"] ul > li:hover > a {
  color: #5d9d43;
}

/* small screens */
@media screen and (max-width: 44em) {
  /* line 189, ../sass/style.scss */
  nav[role="custom-dropdown"] ul {
    display: none;
    height: 100%;
  }
  /* line 194, ../sass/style.scss */
  nav[role="custom-dropdown"] label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 2.25em;
    padding: .45em;
    font-size: 1.1em;
    margin: 0;
  }
  /* line 204, ../sass/style.scss */
  nav[role="custom-dropdown"] label:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
  /* line 212, ../sass/style.scss */
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ label:after {
    color: #222;
  }
  /* line 216, ../sass/style.scss */
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  /* line 219, ../sass/style.scss */
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
  }
  /* line 224, ../sass/style.scss */
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 1.4em sans-serif;
  }
}
/* line 235, ../sass/style.scss */
.tp_cnct {
  position: relative;
  top: 0;
  z-index: 1;
}

/* line 242, ../sass/style.scss */
.two {
  padding: 30px 20px;
  background-color: #111;
  display: none;
  position: absolute;
  right: 10px;
  color: #f1f1f1;
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  line-height: 1.857em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 257, ../sass/style.scss */
#sectionA {
  background: url("../img/section-bg.png") repeat-x #f8f8f8;
  padding: 80px 0;
}
/* line 262, ../sass/style.scss */
#sectionA h1 {
  margin: 0 0 20px 0;
}
/* line 266, ../sass/style.scss */
#sectionA span {
  font-weight: bold;
}

/* line 272, ../sass/style.scss */
#sectionB h1 {
  padding-bottom: 30px;
}
/* line 274, ../sass/style.scss */
#sectionB h1 > span {
  font-size: 0.7em;
}
/* line 277, ../sass/style.scss */
#sectionB .visit-us {
  padding: 80px 0 100px 0;
  background: url("../img/service-bg.jpg") no-repeat #fff;
}
@media screen and (max-width: 480px) {
  /* line 283, ../sass/style.scss */
  #sectionB .visit-us {
    padding: 80px 0 100px 0;
    background: url("../img/service-bg.jpg") no-repeat #fff;
    background-size: cover;
  }
}

/* line 292, ../sass/style.scss */
a.read-more {
  color: #f1f1f1;
  padding: 5px 10px;
  background: #111;
  cursor: pointer;
}

/* line 299, ../sass/style.scss */
#contact-box {
  position: absolute;
  top: -120px;
  right: 0;
  background: #438831;
  color: #f1f1f1;
  padding: 80px 40px;
}
/* line 307, ../sass/style.scss */
#contact-box h1 {
  font-size: 2.571em;
}
/* line 311, ../sass/style.scss */
#contact-box p {
  font-size: 1.286em;
}

/* line 317, ../sass/style.scss */
#sectionC {
  padding: 60px 0;
  background: #f8f8f8;
}

/* line 322, ../sass/style.scss */
#testimonials {
  background: url("../img/quote.png") no-repeat left top;
  padding-top: 60px;
}
/* line 326, ../sass/style.scss */
#testimonials p {
  font-size: 1.714em;
  font-style: italic;
}

/* line 336, ../sass/style.scss */
footer {
  background: #111;
  padding: 60px 0;
  color: #f1f1f1;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
