{% extends 'page.html.twig' %}
{% block parallax %}
    <div class="effect about"></div>
{% endblock %}
{% block body %}
        <div class="col-lg-12">
            <div class="content">
                <div class="col-lg-9">
                    <h1>{{ title }}</h1>
                    {{ description|raw }}
                </div>
                <div class="col-lg-3 no-gutter">
                    <div class="testimonials">
                        <p> " A homestay like no other which exudes a sense of place like no other.
                            The best homestay in the entire region "</p>
                         <span>- Mr. ABCDRFG <br>
                    - Kolkata, INDIA</span>
                    </div>
                    <div class="contact">
                        <h1>Contact Details</h1>
                        {{ render(controller('AppBundle:Front:Contact', {'id': 1})) }}
                    </div>
                </div>
            </div>
         </div>
{% endblock %}