@import url("../css/reset.css");
@import "compass/css3";

// Font Variables
$open-sans: 'Open Sans', sans-serif;
$play-fair: 'Playfair Display', serif;
$montserrat:'Montserrat', sans-serif;


body{
  font-size: 14px;
  font-family:$play-fair;
  font-weight:400;
  line-height:2.429em;
}

a{
  text-decoration: none;
  font-family: $open-sans;
}

h1{ font-size:2.286em;}

#header_wrap{
  width:100%;
  position:fixed;
  z-index:50;
  padding:0 0 14px 0;
  background:url('../img/header_bg.png') repeat-x bottom;
}

.header{
  background: #111;
  padding:14px 0 12px 0;
  transition: all 0.4s ease;
}

.sticky{
  padding:10px 0 0px 0;
  transition: all 0.4s ease;
}

// LOGO

.logo {
  position:absolute;
  font-size:2.000em ;
  padding:5px 0 0 0 ;
  i{font-family: 'Great Vibes', cursive;}
  a{
    color: #f1f1f1;
    text-decoration:none;
    font-family:$play-fair;
  }
  span{
    color:green;
  }
}

.caption{
  position: absolute !important;
  top:40%;
  left:20%;
  font-family:$play-fair;
  text-align: left;
  z-index:10;
  color: #FFF !important;

  p{
    font-size:3.0vh;
    line-height:1.514em;
    margin-bottom:20px;
  }

  h3{
    font-size:5.0vh;
    padding-bottom:20px;
    line-height:1em;
  }

    span a{
      color:#f1f1f1;
      padding:5px 10px;
      background:#111;
      @include border-radius(5px);
  }
}

// NAV
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  display:none;
  cursor: pointer;
  user-select:none;
}

/* background for li / select */

/* custom-dropdown */
nav[role="custom-dropdown"] {
  position:relative;
  width: 100%;
  text-transform: uppercase;
  font-family:$montserrat;

  .tp_cnct .fa{ font-size:1.368em;}

  .active a{ color:#5d9d43; }

  a,
  label {
    color:#f1f1f1;
    text-decoration:none;
    font-size:1em;
  }

  ul {
    padding: 0;
    margin: 0 auto;
    width:100%;
    list-style:none;

    > li {
      float:left;
      padding:.55em .85em;
      width:auto;
      text-align:center;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      cursor: pointer;

      &:hover {
        color:#5d9d43;


        > a {
          color:#5d9d43;
        }
      }
    }
  }
}
/* small screens */
@media screen and (max-width: 44em) {

  nav[role="custom-dropdown"] {
    ul {
      display:none;
      height:100%;
    }

    label {
      position:relative;
      display:block;
      width:100%;
      min-height:2.25em;
      padding:.45em;
      font-size:1.1em;
      margin:0;
    }

    label:after {
      position: absolute;
      right: .25em;
      top: 0;
      content:"\2261";
      font-size:1.8em;
    }

    input[type=checkbox]:checked ~ label:after {
      color:#222;
    }

    input[type=checkbox]:checked ~ ul {
      display:block;

      > li {
        width:100%;
        opacity:.8;
        text-align:left;

        &:after {
          position:absolute;
          right:.25em;
          content:"\203A";
          font: bold 1.4em sans-serif;
        }
      }
    }
  }
}

.tp_cnct {
  position: relative;
  top: 0;
  z-index: 1;
}


.two {
  padding:30px 20px;
  background-color:#111;
  display: none;
  position: absolute;
  right:10px;
  color: #f1f1f1;
  font-family: $open-sans;
  text-transform: none;
  line-height:1.857em;
  @include border-radius(10px);
}

// SECTION A

#sectionA{
  background:url('../img/section-bg.png')repeat-x #f8f8f8;
  padding:80px 0;

  
  h1{
    margin:0 0 20px 0;
  }

  span{
    font-weight: bold;
  }
}

#sectionB{
  h1{
   padding-bottom: 30px;
    > span{ font-size:0.7em;}

  }
  .visit-us{
    padding:80px 0 100px 0;
    background:url('../img/service-bg.jpg') no-repeat #fff;
  }

  @media screen and (max-width: 480px) {
    .visit-us{
      padding:80px 0 100px 0;
      background:url('../img/service-bg.jpg') no-repeat #fff;
      background-size:cover;
    }
  }

}

a.read-more{
  color:#f1f1f1;
  padding:5px 10px;
  background:#111;
  cursor: pointer;
}

#contact-box{
  position: absolute;
  top:-120px;
  right: 0;
  background: #438831;
  color:#f1f1f1;
  padding:80px 40px;

  h1{
    font-size: 2.571em;
  }

  p{
    font-size: 1.286em;
  }
}


#sectionC{
  padding: 60px 0;
  background: #f8f8f8;
}

#testimonials{
  background: url('../img/quote.png') no-repeat left top ;
  padding-top:60px;

  p{
    font-size: 1.714em;
    font-style: italic;
  }

  span{}
}

// CONTENT PAGE

#content-page{
  padding:30px 0 0 0;
  background: #F5F5F5;

  strong{ font-weight: bold;}

  .content{
    position: relative;
    top:-80px;
    background: #FFF;
    height:100%;
    overflow: hidden;
    padding:30px 20px;

    .col-lg-4{
      background:#f8f8f8;
    }

    .testimonials{
      background: url('../img/quote.png') no-repeat left top #f5f5f5;
      padding:60px 20px 40px 20px;

      p{
        font-size:1.429em;
        font-style: italic;
      }

      span{}
    }

    .contact{
      background: #438831;
      color:#FFF;
      padding: 30px;
    }

    table{
      font-family: $open-sans;
      tr:nth-child(even){
        background-color: #f8f8f8;
      }
    }

  }

}

.parallax {

  .about{
    /* The image used */
    background-image: url("../img/slider/2.jpg");
  }

  .effect{
    /* Set a specific height */
    min-height:300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

// FOOTER

footer{
  background: #111;
  padding: 60px 0;
  color: #f1f1f1;
  text-align: center;
  font-family:$montserrat;
  font-weight:300;
}

